<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The <a href="http://edustre.am">eduStream App</a>
  is a project to re-invent education as a whole in a step-by-step process.
  This is the first phase release.  My name is Maxime Paul.  You can find 
  out more about me at <a href="http://maximepaul.com">my site</a>.
</p>
