<% provide(:title, 'Home') %>
<h1>Home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<!--If signed in-->
<a href="#" class="btn btn-primary btn-large"><i class="icon-white icon-book"></i> Plan</a>
<a href="#" class="btn btn-primary btn-large"><i class="icon-white icon-film"></i> Stream</a>